@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

* {
  font-family: 'Cairo', sans-serif;
}

body {
  margin: 0;
  direction: rtl;
}

#root {
  min-height: 100vh;
}
